<!-- <div class="permissions">
  <button (click)="checkPermissions()">Check the webcam permissions</button>
  
</div>
<p *ngIf="status">Status here: {{status}}</p>
<div  *ngIf="stream" class="vdo">
 
  <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam>
  
</div>
<div class="cap">
<button (click)="captureImage()"> {{btnLabel}} </button>
</div>

<div *ngIf="previewImage">
<img [src]="previewImage" height="250" width="250px">
<button (click)="proceed()">Proceed</button>

</div> -->
<div class="bg">



  <div class="topnav">
    <a class="active" href="#home">Webcam Recorder</a>
    </div>
  <div class="permissions">
    <button type="button" class="button-5" (click)="checkPermissions()">Grant Audio and Video Permissions</button>
  </div>
  
  
  
  
  <div *ngIf="stream" class="vdo">
   
    <webcam [trigger]="$trigger"  [imageQuality]="1">
   </webcam>
  
   
    <div class="selctcam">
      <label for="cameraSelect" class="select-label">Select Camera:</label>
    <select id="cameraSelect" [(ngModel)]="selectedCamera" class="select-dropdown">
      <option *ngFor="let camera of cameras" [ngValue]="camera">{{ camera.label }}</option>
    </select>
    <button  class="switch-button " (click)="switchCamera()">Switch Camera</button>
  </div>
  <div class="cap">
    <!-- <button  [disabled]="isRecording" (click)="captureImage()"> {{btnLabel}} </button> -->
    <button (click)="startRecording()" *ngIf="!isRecording">Start Recording</button>
    <button (click)="stopRecording()" *ngIf="isRecording">Stop Recording</button>
    <button (click)="recaptureVideo()" *ngIf="!isRecording && previewImage">Recapture Video</button>
    <button (click)="downloadVideo()" *ngIf="previewImage">Download Video</button>
   
  </div>
  
   
  </div>
  
  
  
  
  <div  class="videoframe" *ngIf="previewImage">
    <video  #videoPlayer [src]="previewImage" controls></video>
  </div>
  


  
  
  </div>
  
  
  
  
  